<template>
  <div class="accueil">
    <top-nav />
    <div class="content">
      <post-bzz />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Hello les collègues ça va ? 😀"
        picture=""
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Maintenant"
        likes="121"
        isLiked="false"
        comments="0"
        userVille="Paris"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQFTY4ZLTTc0Lg/profile-displayphoto-shrink_400_400/0/1547401259167?e=1612396800&v=beta&t=YClvUk1f1Bc6ezwQmuMJMYZEJNNRiMZzyaqeobN9ZU4')"
        texte="Ça va ? Aujourd'hui, moi c'est développement ! Petit site vitrine, quelqu'un veut participer avec moi ? 😜."
        picture=""
        firstName="Paul"
        lastName="Clique"
        username="paulclique"
        publishDate="Il y a 1 minutes"
        likes="3"
        isLiked="true"
        comments="1"
        userVille="Nantes"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Nouveau projet, on est fier de vous le présenter ! On a passé plusieurs semaines à créer tout ça. On est pressé d'avoir vos avis chers collègues de MyDigitalSchool. 😀"
        picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="false"
        comments="8"
        userVille="Rennes"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQHCz_Y6pOIaxQ/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=fE4wHHaa92uzcxyFq0zcArpPSmohEJ_nxbluvNoDFoI')"
        texte=""
        picture="https://nsa40.casimages.com/img/2020/12/02/201202105652583022.png"
        firstName="Maxence"
        lastName="Bonin"
        username="maxencebonin"
        publishDate="Il y a 9 heures"
        likes="107"
        isLiked="true"
        comments="65"
        userVille="Marseille"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture=""
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="true"
        comments="1"
        userVille="Paris"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQFTY4ZLTTc0Lg/profile-displayphoto-shrink_400_400/0/1547401259167?e=1612396800&v=beta&t=YClvUk1f1Bc6ezwQmuMJMYZEJNNRiMZzyaqeobN9ZU4')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture=""
        firstName="Paul"
        lastName="Clique"
        username="paulclique"
        publishDate="Il y a 1 minutes"
        likes="3"
        isLiked="true"
        comments="1"
        userVille="Nantes"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="false"
        comments="8"
        userVille="Rennes"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQHCz_Y6pOIaxQ/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=fE4wHHaa92uzcxyFq0zcArpPSmohEJ_nxbluvNoDFoI')"
        texte=""
        picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        firstName="Maxence"
        lastName="Bonin"
        username="maxencebonin"
        publishDate="Il y a 9 heures"
        likes="107"
        isLiked="true"
        comments="65"
        userVille="Marseille"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture=""
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture=""
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="true"
        comments="1"
        userVille="Paris"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQFTY4ZLTTc0Lg/profile-displayphoto-shrink_400_400/0/1547401259167?e=1612396800&v=beta&t=YClvUk1f1Bc6ezwQmuMJMYZEJNNRiMZzyaqeobN9ZU4')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture=""
        firstName="Paul"
        lastName="Clique"
        username="paulclique"
        publishDate="Il y a 1 minutes"
        likes="3"
        isLiked="true"
        comments="1"
        userVille="Nantes"
        userClasse="Bachelor 1 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="false"
        comments="8"
        userVille="Rennes"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQHCz_Y6pOIaxQ/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=fE4wHHaa92uzcxyFq0zcArpPSmohEJ_nxbluvNoDFoI')"
        texte=""
        picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        firstName="Maxence"
        lastName="Bonin"
        username="maxencebonin"
        publishDate="Il y a 9 heures"
        likes="107"
        isLiked="true"
        comments="65"
        userVille="Marseille"
        userClasse="Bachelor 2 Web & Multimédia"
      />
      <bzz-card
        memberPicture="background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHI2Dz-5O4dwA/profile-displayphoto-shrink_400_400/0/1591374763619?e=1612396800&v=beta&t=E1rIHZDNtNK5MttWxt7Xf3lPDcqLwELZFR0vtXf8qrQ')"
        texte="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor pharetra semper. Suspendisse eu condimentum eros. Aenean tincidunt massa in turpis scelerisque, sed mollis nulla condimentum. Nunc vitae enim vitae lectus faucibus fringilla nec ac mi. Donec sed mattis velit. Ut porta ligula nec vulputate luctus. Suspendisse lorem mi, porta et massa sed, consequat vestibulum lacus."
        picture=""
        firstName="Hugo"
        lastName="Aunette"
        username="hugoaunette"
        publishDate="Il y a 7 minutes"
        likes="77"
        isLiked="true"
        comments="1"
        userVille="Paris"
        userClasse="Bachelor 1 Web & Multimédia"
      />
    </div>
  </div>
</template>

<script>
import TopNav from "../components/TopNav.vue";
import BzzCard from "../components/BzzCard.vue";
import PostBzz from "../components/PostBzz.vue";

export default {
  name: "Accueil",
  components: {
    TopNav,
    BzzCard,
    PostBzz
  }
};
</script>

<style scoped>
.accueil {
  padding-left: 350px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 905px) {
  .accueil {
    padding-left: 50px;
  }
  .title {
    margin-top: 50px;
  }
}
</style>
