<template>
  <div class="annonces">
    <top-nav />
    <page-title msg="Annonces" />
    <dev-page />
  </div>
</template>

<script>
import DevPage from "../components/DevPage.vue";
import PageTitle from "../components/PageTitle.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "Annonces",
  components: {
    TopNav,
    PageTitle,
    DevPage
  }
};
</script>

<style scoped>
.annonces {
  padding-left: 350px;
  padding-right: 50px;
}
@media (max-width: 905px) {
  .annonces {
    padding-top: 50px;
    padding-left: 50px;
  }
}
</style>
