<template>
  <div class="connexion-inscription">
    <top-nav />
    <page-title class="title" msg="Connexion & inscription" />
    <section id="con-insc">
      <div class="connexion">
        <h2>Se connecter</h2>
        <div class="content">
          <div class="username">
            <label for="username"
              >Nom d'utilisateur<span class="obligatoire"
                >*Obligatoire</span
              ></label
            >
            <input
              type="text"
              id="username"
              name="username"
              required
              minlength="4"
              maxlength="20"
              size="20"
            />
          </div>
          <div class="password">
            <label for="password"
              >Mot de passe<span class="obligatoire">*Obligatoire</span></label
            >
            <input
              type="password"
              id="password"
              name="password"
              required
              minlength="4"
              maxlength="40"
              size="20"
            />
          </div>

          <button type="submit" class="submit">Se connecter</button>
          <button type="submit" class="avec-mycampus">
            Se connecter avec <b>My Campus</b>
            <img
              src="http://www.groupe-eduservices.fr/sites/all/themes/eduserv/images/logo.png"
              alt="Se connecter avec My Campus - Eduservices"
            />
          </button>
        </div>
      </div>
      <div class="inscription">
        <h2>S'inscrire</h2>
        <div class="content">
          <div class="name-and-first">
            <div class="first-name">
              <label for="first-name"
                >Prénom<span class="obligatoire">*Obligatoire</span></label
              >
              <input
                type="text"
                id="first-name"
                name="first-name"
                required
                minlength="4"
                maxlength="20"
                size="20"
              />
            </div>
            <div class="name">
              <label for="name"
                >Nom<span class="obligatoire">*Obligatoire</span></label
              >
              <input
                type="text"
                id="name"
                name="name"
                required
                minlength="4"
                maxlength="20"
                size="20"
              />
            </div>
          </div>
          <div class="mail">
            <label for="mail"
              >Adresse e-mail<span class="obligatoire"
                >*Obligatoire</span
              ></label
            >
            <input
              type="email"
              id="mail"
              name="mail"
              required
              minlength="4"
              maxlength="20"
              size="20"
            />
            <span class="message error">⚠ L'adresse e-mail est invalide</span>
            <span class="message valid">✔</span>
          </div>
          <div class="password-div">
            <div class="password">
              <label for="password"
                >Mot de passe<span class="obligatoire"
                  >*Obligatoire</span
                ></label
              >
              <input
                type="password"
                id="password"
                name="password"
                required
                minlength="4"
                maxlength="40"
                size="20"
              />
            </div>
            <div class="password-check">
              <label for="password"
                >Verification<span class="obligatoire"
                  >*Obligatoire</span
                ></label
              >
              <input
                type="password"
                id="password"
                name="password"
                required
                minlength="4"
                maxlength="40"
                size="20"
              />
            </div>
          </div>
          <div class="campus-level">
            <div class="campus">
              <label for="campus"
                >Campus<span class="obligatoire">*Obligatoire</span></label
              >
              <select id="campus" name="campus">
                <option value="null"></option>
                <option value="angers">Angers</option>
                <option value="annecy">Annecy</option>
                <option value="bordeaux">Bordeaux</option>
                <option value="caen">Caen</option>
                <option value="grenoble">Grenoble</option>
                <option value="lille">Lille</option>
                <option value="lyon">Lyon</option>
                <option value="melun">Melun</option>
                <option value="montpellier">Montpellier</option>
                <option value="nantes">Nantes</option>
                <option value="nice">Nice</option>
                <option value="paris">Paris</option>
                <option value="rennes">Rennes</option>
                <option value="sqy">Saint-Quentin-en-Yvelines</option>
                <option value="toulouse">Toulouse</option>
                <option value="vannes">Vannes</option>
              </select>
            </div>
            <div class="level">
              <label for="level"
                >Promotion actuelle<span class="obligatoire"
                  >*Obligatoire</span
                ></label
              >
              <select id="level" name="level">
                <option value="null"></option>
                <option value="">Bachelor 1 Web & Multimédia</option>
                <option value="">Bachelor 2 Web & Multimédia</option>
                <option value=""
                  >Bachelor 3 Web Marketing & Social Média</option
                >
                <option value="">Bachelor 3 E-business</option>
                <option value="">Bachelor 3 Webdesign</option>
                <option value="">Bachelor 3 Développeur web</option>
                <option value="">Master 1 Expert Marketing digital</option>
                <option value="">Master 2 Expert Marketing digital</option>
                <option value="">Master 1 Expert Data Marketing</option>
                <option value="">Master 2 Expert Data Marketing</option>
                <option value=""
                  >Master 1 Management de l'Innovation Digitale</option
                >
                <option value=""
                  >Master 2 Management de l'Innovation Digitale</option
                >
                <option value="">Master 1 Expert UX/UI Design</option>
                <option value="">Master 2 Expert UX/UI Design</option>
                <option value="">Master 1 Développeur Full-stack</option>
                <option value="">Master 2 Développeur Full-stack</option>
              </select>
            </div>
          </div>
          <div class="check">
            <input type="checkbox" id="accept" name="accept" value="accept" />
            <label for="accept"
              >J'accepte les conditions générales d'utilisation<span
                class="obligatoire"
                >*Obligatoire</span
              ></label
            >
          </div>
          <button type="submit" class="submit">S'inscrire</button>
          <button type="submit" class="avec-mycampus">
            S'inscrire avec <b>My Campus</b>
            <img
              src="http://www.groupe-eduservices.fr/sites/all/themes/eduserv/images/logo.png"
              alt="Se connecter avec My Campus - Eduservices"
            />
          </button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PageTitle from "../components/PageTitle.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "ConnexionInscription",
  components: {
    TopNav,
    PageTitle
  }
};
</script>

<style scoped>
.connexion-inscription {
  padding-left: 350px;
  margin-right: 50px;
}
#con-insc {
  display: flex;
  margin-bottom: 50px;
}
#con-insc h2 {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background-color: #225182;
  color: white;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 99px #00000029;
  border-radius: 10px 10px 0 0;
}
#con-insc .connexion {
  height: auto;
  background-color: white;
  flex: 1;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 99px #00000029;
  padding-bottom: 50px;
}
#con-insc .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}
#con-insc div.username {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
}
#con-insc div.password {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
}
#con-insc label {
  padding-left: 15px;
  font-size: 1em;
}
#con-insc input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6f2ff;
  padding: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
}
#con-insc input:focus {
  box-shadow: 0px 0px 99px #00000029;
  border: 1px #225182 solid;
}
#con-insc .inscription {
  height: auto;
  background-color: white;
  flex: 1;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 99px #00000029;
  padding-bottom: 50px;
}
#con-insc .submit {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #225182;
  color: white;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  margin-top: 30px;
}
#con-insc .avec-mycampus {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 189, 29);
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 99px #00000029;
  font-weight: 200;
}
#con-insc .avec-mycampus b {
  font-weight: 900;
}
#con-insc .avec-mycampus img {
  margin-top: 20px;
}
#con-insc .name-and-first {
  display: flex;
}
#con-insc .name-and-first .first-name {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}
#con-insc .name-and-first .name {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}
#con-insc .mail {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
}
#con-insc .inscription .password-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#con-insc .inscription .password {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
}
#con-insc .inscription .password-check {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
#con-insc select {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6f2ff;
  padding: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
}
#con-insc select:focus {
  box-shadow: 0px 0px 99px #00000029;
  border: 1px #225182 solid;
}
#con-insc .campus-level {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
#con-insc .campus-level .campus {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
#con-insc .campus-level .level {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
#con-insc .check {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
input#accept {
  width: auto;
}
@media (max-width: 905px) {
  .connexion-inscription {
    padding-left: 50px;
  }
  .title {
    margin-top: 50px;
  }
}
@media (max-width: 1150px) {
  #con-insc {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 130px;
  }
  #con-insc .connexion {
    margin-bottom: 30px;
  }
}
.message {
  display: none;
  font-size: 20px;
  vertical-align: middle;
}
.error {
  color: red;
  font-size: 1em;
}
.valid {
  color: green;
}
input[type="email"]:focus:not(:placeholder-shown) {
  outline: none !important;
}
input[type="email"]:not(:focus):invalid:not(:placeholder-shown),
input[type="email"]:focus:invalid:not(:placeholder-shown) {
  outline: 2px solid red;
}
input[type="email"]:not(:focus):invalid:not(:placeholder-shown) ~ .error {
  display: initial;
}
input[type="email"]:valid ~ .valid {
  display: initial;
}
.obligatoire {
  font-size: 0.6em;
  color: red;
  margin-left: 5px;
}
</style>
