<template>
  <div class="messages">
    <top-nav />
    <page-title msg="Messages" />
    <dev-page />
  </div>
</template>

<script>
import DevPage from '../components/DevPage.vue';
import PageTitle from "../components/PageTitle.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "Messages",
  components: {
    PageTitle,
    TopNav,
    DevPage
  }
};
</script>

<style scoped>
.messages {
  padding-left: 350px;
  padding-right: 50px;
}
@media (max-width: 905px) {
  .messages {
    padding-top: 50px;
    padding-left: 50px;
  }
}
</style>
