<template>
  <div class="parametres">
    <top-nav />
    <page-title msg="Paramètres" />
    <dev-page />
  </div>
</template>

<script>
import DevPage from '../components/DevPage.vue';
import PageTitle from "../components/PageTitle.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "Paramètres",
  components: {
    PageTitle,
    TopNav,
    DevPage
  }
};
</script>

<style scoped>
.parametres {
  padding-left: 350px;
  padding-right: 50px;
}
@media (max-width: 905px) {
  .parametres {
    padding-top: 50px;
    padding-left: 50px;
  }
}
</style>
