<template>
  <div class="projets">
    <top-nav />
    <page-title msg="Les projets des étudiants" />
    <div class="trier-par">
      <h2>Trier par</h2>
      <select id="theme" name="theme">
        <option value="null">Thème</option>
        <option value="">Développement web</option>
        <option value="">Marketting</option>
        <option value="">Créative week</option>
        <option value="">Startup project</option>
        <option value="">Digital Week</option>
      </select>
      <select id="ecole" name="ecole">
        <option value="null">Ecole</option>
        <option value="angers">Angers</option>
        <option value="annecy">Annecy</option>
        <option value="bordeaux">Bordeaux</option>
        <option value="caen">Caen</option>
        <option value="grenoble">Grenoble</option>
        <option value="lille">Lille</option>
        <option value="lyon">Lyon</option>
        <option value="melun">Melun</option>
        <option value="montpellier">Montpellier</option>
        <option value="nantes">Nantes</option>
        <option value="nice">Nice</option>
        <option value="paris">Paris</option>
        <option value="rennes">Rennes</option>
        <option value="sqy">Saint-Quentin-en-Yvelines</option>
        <option value="toulouse">Toulouse</option>
        <option value="vannes">Vannes</option>
      </select>
      <select id="annee" name="annee">
        <option value="null">Année</option>
        <option value="">2020</option>
        <option value="">2019</option>
        <option value="">2018</option>
        <option value="">2017</option>
        <option value="">2016</option>
        <option value="">2015</option>
        <option value="">2014</option>
        <option value="">2013</option>
        <option value="">2012</option>
        <option value="">2011</option>
      </select>
      <select id="bachelor" name="bachelor">
        <option value="null">Filière</option>
        <option value="">Bachelor 1 Web & Multimédia</option>
        <option value="">Bachelor 2 Web & Multimédia</option>
        <option value="">Bachelor 3 Web Marketing & Social Média</option>
        <option value="">Bachelor 3 E-business</option>
        <option value="">Bachelor 3 Webdesign</option>
        <option value="">Bachelor 3 Développeur web</option>
        <option value="">Master 1 Expert Marketing digital</option>
        <option value="">Master 2 Expert Marketing digital</option>
        <option value="">Master 1 Expert Data Marketing</option>
        <option value="">Master 2 Expert Data Marketing</option>
        <option value="">Master 1 Management de l'Innovation Digitale</option>
        <option value="">Master 2 Management de l'Innovation Digitale</option>
        <option value="">Master 1 Expert UX/UI Design</option>
        <option value="">Master 2 Expert UX/UI Design</option>
        <option value="">Master 1 Développeur Full-stack</option>
        <option value="">Master 2 Développeur Full-stack</option>
      </select>
    </div>
    <h2>Les projets</h2>
    <div class="les-projets">
      <project-card
        nom="La Ruche"
        ville="Nantes"
        classe="Bachelor 2 Web & Multimédia"
        username="maxencebonin"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202094930428761.png')"
      />
      <project-card
        nom="Mobilup"
        ville="Nantes"
        classe="Bachelor 1 Web & Multimédia"
        username="paulclique"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095406677285.png')"
      />
      <project-card
        nom="Photos de l'écoles"
        ville="Nantes"
        classe="Bachelor 3 Developpement Web"
        username="gastonbonjour"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095604503882.png')"
      />
      <project-card
        nom="Oral de stage"
        ville="Nantes"
        classe="Bachelor 3 Marketing"
        username="franckmarket"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095720727663.jpg')"
      />
      <project-card
        nom="Stratégie de développement"
        ville="Nantes"
        classe="Master 1 e-business"
        username="nicolasabeille"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/20120209593388347.jpg')"
      />
      <project-card
        nom="ByeBooks"
        ville="Nantes"
        classe="Bachelor 1 Web & Multimédia"
        username="benoitcajou"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202100150415607.png')"
      />
    </div>
  </div>
</template>

<script>
import PageTitle from "../components/PageTitle.vue";
import ProjectCard from "../components/ProjectCard.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "Projets",
  components: {
    TopNav,
    ProjectCard,
    PageTitle
  }
};
</script>

<style scoped>
.projets {
  padding-left: 350px;
  padding-right: 50px;
}
.les-projets {
  display: flex;
  flex-flow: wrap;
}
h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
select {
  width: auto;
  border: none;
  outline: none;
  background-color: #225182;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
  margin-bottom: 20px;
  margin-right: 20px;
}
@media (max-width: 905px) {
  .projets {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .les-projets {
    justify-content: center;
  }
}
</style>
