<template>
  <div class="connexion-inscription">
    <top-nav />
    <page-title msg="Publier un projet" />
    <section id="con-insc">
      <div class="inscription">
        <h2>Ajouter un projet</h2>
        <div class="content">
          <div class="campus-level">
            <div class="campus">
              <label for="campus">Code campus*</label>
              <select id="campus" name="campus">
                <option value="null"></option>
                <option value="angers">ANG</option>
                <option value="annecy">ANN</option>
                <option value="bordeaux">BOR</option>
                <option value="caen">CAE</option>
                <option value="grenoble">GRE</option>
                <option value="lille">LIL</option>
                <option value="lyon">LYO</option>
                <option value="melun">MEL</option>
                <option value="montpellier">MON</option>
                <option value="nantes">NAN</option>
                <option value="nice">NIC</option>
                <option value="paris">PAR</option>
                <option value="rennes">REN</option>
                <option value="sqy">SQY</option>
                <option value="toulouse">TOU</option>
                <option value="vannes">VAN</option>
              </select>
            </div>
            <p>-</p>
            <div class="project-type">
              <label for="project-type">Type de projet*</label>
              <input
                type="text"
                id="project-type"
                name="project-type"
                required
                minlength="4"
                maxlength="20"
                size="20"
              />
            </div>
          </div>
          <div class="annee-level">
            <div class="annee">
              <label for="annee">Année*</label>
              <select id="annee" name="annee">
                <option value="null"></option>
                <option value="angers">2017</option>
                <option value="annecy">2018</option>
                <option value="bordeaux">2019</option>
                <option value="caen">2020</option>
                <option value="grenoble">2021</option>
                <option value="lille">2022</option>
                <option value="lyon">2023</option>
                <option value="melun">2024</option>
              </select>
            </div>
            <p>-</p>
            <div class="level">
              <label for="level">Promotion actuelle*</label>
              <select id="level" name="level">
                <option value="null"></option>
                <option value="">Bachelor 1 Web & Multimédia</option>
                <option value="">Bachelor 2 Web & Multimédia</option>
                <option value="">
                  Bachelor 3 Web Marketing & Social Média
                </option>
                <option value="">Bachelor 3 E-business</option>
                <option value="">Bachelor 3 Webdesign</option>
                <option value="">Bachelor 3 Développeur web</option>
                <option value="">Master 1 Expert Marketing digital</option>
                <option value="">Master 2 Expert Marketing digital</option>
                <option value="">Master 1 Expert Data Marketing</option>
                <option value="">Master 2 Expert Data Marketing</option>
                <option value="">
                  Master 1 Management de l'Innovation Digitale
                </option>
                <option value="">
                  Master 2 Management de l'Innovation Digitale
                </option>
                <option value="">Master 1 Expert UX/UI Design</option>
                <option value="">Master 2 Expert UX/UI Design</option>
                <option value="">Master 1 Développeur Full-stack</option>
                <option value="">Master 2 Développeur Full-stack</option>
              </select>
            </div>
          </div>
          <div class="name">
            <div class="name">
              <label for="name">Nom du projet*</label>
              <input
                type="text"
                id="name"
                name="name"
                required
                minlength="4"
                maxlength="20"
                size="20"
              />
            </div>
          </div>
          <div class="description">
            <div class="description">
              <label for="description">Descriptif du projet*</label>
              <textarea
                name="description"
                id="description"
                required
                minlength="4"
                maxlength="300"
                cols="40"
                rows="5"
              ></textarea>
            </div>
          </div>
          <div class="collaborateurs">
            <div>
              <label for="accept">Ajouter des collaborateurs</label>
              <img
                src="https://acidim.com/wp-content/plugins/doliconnect/images/default.jpg"
                alt="Photo du collaborateur 1"
              />
              <img
                src="https://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/184/original/002B-500x500.png?1275328183"
                alt="Ajouter un autre collaborateur"
                id="plus"
              />
            </div>
            <div class="temps">
              <label for="level">Temps de travail*</label>
              <select id="level" name="level">
                <option value="null"></option>
                <option value="">1 heure</option>
                <option value="">2 heures</option>
                <option value="">3 heures</option>
                <option value="">5 heures</option>
                <option value="">10 heures</option>
                <option value="">12 heures</option>
                <option value="">1 jour</option>
                <option value="">2 jours</option>
                <option value="">3 jours</option>
                <option value="">4 jours</option>
                <option value="">5 jours</option>
                <option value="">7 jours</option>
                <option value="">2 semaines</option>
                <option value="">3 semaines</option>
                <option value="">1 mois</option>
                <option value="">2 mois</option>
                <option value="">3 mois</option>
              </select>
            </div>
          </div>

          <div class="fichiers">
            <label for="accept">Ajouter des fichiers :</label>
            <img
              src="https://s3.amazonaws.com/static.graphemica.com/glyphs/i500s/000/010/184/original/002B-500x500.png?1275328183"
              alt="Ajouter un fichier"
              id="plus"
            />
          </div>

          <button type="submit" class="submit">Envoyer le projet</button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PageTitle from "../components/PageTitle.vue";
import TopNav from "../components/TopNav.vue";

export default {
  name: "PublierProjet",
  components: {
    TopNav,
    PageTitle
  }
};
</script>

<style scoped>
.connexion-inscription {
  padding-left: 350px;
  margin-right: 50px;
}
#con-insc {
  display: flex;
}
#con-insc h2 {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background-color: #225182;
  color: white;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 99px #00000029;
  border-radius: 10px 10px 0 0;
}
#con-insc .connexion {
  height: auto;
  background-color: white;
  flex: 1;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 99px #00000029;
  padding-bottom: 50px;
}
#con-insc .content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-left: 30px;
  padding-right: 30px;
}
#con-insc div.username {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
}

#con-insc label {
  padding-left: 15px;
  font-size: 1em;
}
#con-insc input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6f2ff;
  padding: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
}
#con-insc textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6f2ff;
  padding: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 15px;
  transition: ease-in-out 1s;
}

#con-insc input:focus {
  box-shadow: 0px 0px 99px #00000029;
  border: 1px #225182 solid;
}
#con-insc .inscription {
  height: auto;
  background-color: white;
  flex: 1;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 99px #00000029;
  padding-bottom: 50px;
}
#con-insc .submit {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #225182;
  color: white;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1em;
  margin-top: 30px;
}

#con-insc select {
  width: 100%;
  border: none;
  outline: none;
  background-color: #e6f2ff;
  padding: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
}
#con-insc select:focus {
  box-shadow: 0px 0px 99px #00000029;
  border: 1px #225182 solid;
}
#con-insc .campus-level {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
#con-insc .campus-level .project-type {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
#con-insc .campus-level .level {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
#con-insc .collaborateurs {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
#con-insc .annee-level {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
#con-insc .annee-level .level {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
#con-insc .name {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

#con-insc .description {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
input#accept {
  width: auto;
}
img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-left: 15px;
  cursor: pointer;
}
img#plus {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: #225182;
}

#con-insc .fichiers {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
@media (max-width: 905px) {
  .connexion-inscription {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
</style>
