<template>
  <div class="single-campus">
    <top-nav />
    <section id="campus-name">
      <img
        class="campus-image"
        src="https://france3-regions.francetvinfo.fr/image/IKvbFBF58L_PBh9Dxx7Tnhq2jD0/600x400/regions/2020/06/09/5edf1edb7a9e4_elephantnantes.jpg"
        alt="Photo du campus de Nantes"
      />
      <div class="name">
        <h6>My Digital School</h6>
        <h2>Nantes</h2>
      </div>
    </section>
    <h2>Les projets</h2>
    <div class="trier-par">
      <select id="theme" name="theme">
        <option value="null">Thème</option>
        <option value="">Développement web</option>
        <option value="">Marketting</option>
        <option value="">Créative week</option>
        <option value="">Startup project</option>
        <option value="">Digital Week</option>
      </select>
      <select id="annee" name="annee">
        <option value="null">Année</option>
        <option value="">2020</option>
        <option value="">2019</option>
        <option value="">2018</option>
        <option value="">2017</option>
        <option value="">2016</option>
        <option value="">2015</option>
        <option value="">2014</option>
        <option value="">2013</option>
        <option value="">2012</option>
        <option value="">2011</option>
      </select>
      <select id="bachelor" name="bachelor">
        <option value="null">Filière</option>
        <option value="">Bachelor 1 Web & Multimédia</option>
        <option value="">Bachelor 2 Web & Multimédia</option>
        <option value="">Bachelor 3 Web Marketing & Social Média</option>
        <option value="">Bachelor 3 E-business</option>
        <option value="">Bachelor 3 Webdesign</option>
        <option value="">Bachelor 3 Développeur web</option>
        <option value="">Master 1 Expert Marketing digital</option>
        <option value="">Master 2 Expert Marketing digital</option>
        <option value="">Master 1 Expert Data Marketing</option>
        <option value="">Master 2 Expert Data Marketing</option>
        <option value="">Master 1 Management de l'Innovation Digitale</option>
        <option value="">Master 2 Management de l'Innovation Digitale</option>
        <option value="">Master 1 Expert UX/UI Design</option>
        <option value="">Master 2 Expert UX/UI Design</option>
        <option value="">Master 1 Développeur Full-stack</option>
        <option value="">Master 2 Développeur Full-stack</option>
      </select>
    </div>
    <div class="les-projets">
      <project-card
        nom="La Ruche"
        ville="Nantes"
        classe="Bachelor 2 Web & Multimédia"
        username="maxencebonin"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202094930428761.png')"
      />
      <project-card
        nom="Mobilup"
        ville="Nantes"
        classe="Bachelor 1 Web & Multimédia"
        username="paulclique"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095406677285.png')"
      />
      <project-card
        nom="Photos de l'écoles"
        ville="Nantes"
        classe="Bachelor 3 Developpement Web"
        username="gastonbonjour"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095604503882.png')"
      />
      <project-card
        nom="Oral de stage"
        ville="Nantes"
        classe="Bachelor 3 Marketing"
        username="franckmarket"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202095720727663.jpg')"
      />
      <project-card
        nom="Stratégie de développement"
        ville="Nantes"
        classe="Master 1 e-business"
        username="nicolasabeille"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/20120209593388347.jpg')"
      />
      <project-card
        nom="ByeBooks"
        ville="Nantes"
        classe="Bachelor 1 Web & Multimédia"
        username="benoitcajou"
        picture="background-image: url('https://nsa40.casimages.com/img/2020/12/02/201202100150415607.png')"
      />
    </div>
  </div>
</template>

<script>
import TopNav from "../components/TopNav.vue";
import ProjectCard from "../components/ProjectCard.vue";

export default {
  name: "singleProjet",
  components: {
    TopNav,
    ProjectCard
  }
};
</script>

<style scoped>
.single-campus {
  padding-left: 350px;
  padding-right: 50px;
}
.les-projets {
  display: flex;
  flex-flow: wrap;
}
h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.trier-par {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
select {
  width: auto;
  border: none;
  outline: none;
  background-color: #225182;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 100px;
  transition: ease-in-out 1s;
  margin-bottom: 20px;
  margin-right: 20px;
}
#campus-name {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}
#campus-name img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1000px;
}
#campus-name .name {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#campus-name .name h6 {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
}
#campus-name .name h2 {
  margin: 0;
  font-size: 4em;
  line-height: 0.8;
  font-weight: 900;
}
@media (max-width: 905px) {
  .single-campus {
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  #campus-name {
    flex-direction: column;
    align-items: center;
  }
  #campus-name img {
    width: 200px;
    height: 200px;
  }
  #campus-name .name {
    margin: 0;
    margin-top: 20px;
  }
  #campus-name h6 {
    text-align: center;
  }
  #campus-name h2 {
    text-align: center;
  }
  .les-projets {
    justify-content: center;
  }
  .trier-par {
    display: block;
  }
}
@media (max-width: 1230px) {
  .trier-par {
    display: block;
  }
}
</style>
