<template>
  <div class="single-projet">
    <top-nav />
    <single-project-card
      memberPicture="https://media-exp1.licdn.com/dms/image/C4D03AQHCz_Y6pOIaxQ/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=fE4wHHaa92uzcxyFq0zcArpPSmohEJ_nxbluvNoDFoI"
      altMember="Photo de profil de Maxence Bonin"
      texte="La Ruche, c'est un projet que l'on a réalisé lors de la Creative Week 2020. Ce projet nous a tenu à coeur puisque nous en sommes la cible future, nous avons donc pu réaliser
      le projet pour nous. Nous avons, avec Paul et Hugo, réparti les tâches selon nos domaines de compétences, tout en s'essayant sur les autres domaines, afin de développer notre apprentissage.
      Vous trouverez en pièce jointe l'ensemble du projet. N'hésitez pas à donner votre retour ! :D "
      picture="https://nsa40.casimages.com/img/2020/12/02/201202105652583022.png"
      firstName="Maxence"
      lastName="Bonin"
      username="maxencebonin"
      publishDate="Il y a 9 heures"
      likes="107"
      isLiked="true"
      comments="2"
      userVille="Annecy"
      userClasse="Bachelor 2 Web & Multimédia"
      projectName="La Ruche"
      projectCode="NAN - Créative Week"
      projectLevel="B2 - WEB & MULTIMEDIA 2020"
      time="5 jours"
    />

    <!-- Commentaires -->

    <h3>Commentaires</h3>

    <post-comment />

    <comments
      memberPicture="https://media-exp1.licdn.com/dms/image/C4D03AQHCz_Y6pOIaxQ/profile-displayphoto-shrink_100_100/0?e=1607558400&v=beta&t=fE4wHHaa92uzcxyFq0zcArpPSmohEJ_nxbluvNoDFoI"
      texte="Petit message bonus, vivement la fin des vacances ! "
      picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Photo de profil de Maxence Bonin"
      firstName="Maxence"
      lastName="Bonin"
      username="maxencebonin"
      publishDate="Il y a 9 heures"
      likes="107"
      isLiked="true"
      comments="65"
      userVille="Marseille"
      userClasse="Bachelor 2 Web & Multimédia"
    />
    <comments
      memberPicture="https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.0-9/72886918_803101413457538_5649407463544324096_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=5Ts9d95LQSoAX8O0W7n&_nc_ht=scontent.fcdg1-1.fna&oh=a3adac3013b7fe86a0bb0db3589dfee8&oe=5FED04CD"
      texte="Super projet, ça vend du rêve ! 👏 "
      picture="https://images.pexels.com/photos/5668514/pexels-photo-5668514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Photo de profil de Jean-Christophe Rouyer"
      firstName="Jean-Christophe"
      lastName="Rouyer"
      username="maxencebonin"
      publishDate="Il y a 10 heures"
      likes="12"
      isLiked="false"
      comments="12"
      userVille="Nantes"
      userClasse="Bachelor 2 Web & Multimédia"
    />
  </div>
</template>

<script>
import TopNav from "../components/TopNav.vue";
import SingleProjectCard from "../components/SingleProjectCard.vue";
import Comments from "../components/Comments.vue";
import PostComment from "../components/PostComment.vue";

export default {
  name: "singleProjet",
  components: {
    TopNav,
    SingleProjectCard,
    Comments,
    PostComment
  }
};
</script>

<style scoped>
.single-projet {
  padding-left: 350px;
  padding-right: 50px;
}
h3 {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background-color: #225182;
  width: 70%;
  color: white;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 99px #00000029;
}
@media (max-width: 905px) {
  .single-projet {
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
</style>
