<template>
  <div>
    <article>
      <div class="member-infos">
        <div class="left">
          <div class="member-picture" v-bind:style="memberPicture"></div>
          <div class="name-date">
            <span
              >{{ firstName }} <b>{{ lastName }}</b
              ><span class="username">@{{ username }}</span></span
            >
            <span class="badges">
              <span class="badge-ville">{{ userVille }}</span>
              <span class="badge-classe">{{ userClasse }}</span>
            </span>
            <span class="date">{{ publishDate }}</span>
          </div>
        </div>
      </div>
      <p v-if="texte">{{ texte }}</p>
      <img v-if="picture" v-bind:src="picture" alt="Photo du Bzz" />
      <div class="like-comments">
        <span class="likes">
          <i v-if="isLiked === 'true'" class="material-icons" style="color: red"
            >favorite</i
          >
          <i class="material-icons" v-else>favorite_border</i>
          {{ likes }} personne(s) aime(nt) ça !
        </span>
        <span class="comments">{{ comments }} commentaire(s)</span>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "BzzCard",
  props: {
    memberPicture: String,
    firstName: String,
    lastName: String,
    username: String,
    publishDate: String,
    texte: String,
    picture: String,
    likes: Number,
    isLiked: Boolean,
    comments: Number,
    userVille: String,
    userClasse: String
  }
};
</script>

<style scoped>
article {
  background-color: white;
  width: 80%;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
article .member-picture {
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  margin-right: 10px;
}
article .left {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
article .name-date {
  display: flex;
  flex-direction: column;
}
article .name-date span b {
  text-transform: uppercase;
}
article span.username {
  font-size: 0.8em;
  color: #b4b4b4;
  margin-left: 5px;
}
article span.date {
  font-size: 0.8em;
  color: #b4b4b4;
}
article img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
article .like-comments {
  border-top: 1px #e4e4e4 solid;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 20px;
}
article .like-comments span.likes {
  display: flex;
  align-items: center;
}
article .like-comments span.likes i {
  margin-right: 5px;
  cursor: pointer;
}
h1 {
  margin: 0;
}
article .badge-ville {
  font-size: 0.8em;
  margin-left: 10px;
  background-color: rgb(255, 189, 29, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
}
.badges {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -10px;
}
article .badge-classe {
  font-size: 0.8em;
  margin-left: 10px;
  background-color: rgb(247, 77, 157, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
}
@media (max-width: 905px) {
  .badges {
    display: none;
  }
}
</style>
