<template>
  <div>
    <router-link to="/single-campus">
      <article>
        <img v-bind:src="campusPicture" v-bind:alt="alt" />
        <h3>{{ ville }}</h3>
      </article>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "CampusNameCard",
  props: {
    campusPicture: String,
    ville: String,
    alt: String
  }
};
</script>

<style scoped>
a {
  color: #343434;
  text-decoration: none;
}
article {
  background-color: white;
  width: 240px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
article img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
}
article h3 {
  margin: 0;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}
</style>
