<template>
  <div>
    <article>
      <div class="auteur">
        <img class="member-picture" v-bind:src="memberPicture" v-bind:alt="alt" />
        <div class="name-date">
          <span
            >{{ firstName }} <b>{{ lastName }}</b></span
          >
          <span class="date">{{ publishDate }}</span>
        </div>
      </div>
      <div class="message">
        <p>
          {{texte}}
        </p>
      </div>
      <div class="admin">
        <i class="material-icons">more_vert</i>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "Comments",
  props: {
    memberPicture: String,
    firstName: String,
    lastName: String,
    username: String,
    publishDate: String,
    texte: String,
    picture: String,
    likes: Number,
    isLiked: Boolean,
    comments: Number,
    userVille: String,
    userClasse: String,
    alt: String
  },
};
</script>

<style scoped>
article {
  background-color: white;
  width: 70%;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
article .auteur {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
article .member-picture {
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  margin-right: 10px;
}
article .name-date {
  display: flex;
  flex-direction: column;
}
article .name-date span {
  display: flex;
}
article .name-date span b {
  text-transform: uppercase;
  margin-left: 5px;
}
article span.date {
  font-size: 0.8em;
  color: #b4b4b4;
}
article .admin i {
  margin-left: 30px;
  cursor: pointer;
}
@media (max-width: 905px) {
  article {
    flex-direction: column;
  }
  article .admin i {
    display: none;
  }
}
</style>
