<template>
  <div>
    <h3>
      Bzzzzzz, cette page est encore en construction. Eh oui, on en a des idées
      !
    </h3>
  </div>
</template>

<script>
export default {
  name: "DevPage"
};
</script>

<style scoped></style>
