<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: "PageTitle",
  props: {
    msg: String
  }
};
</script>

<style scoped>
h1 {
  margin: 0;
  background-color: rgb(255, 189, 29, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 2.3em;
  margin-right: -50px;
  margin-left: -50px;
  box-shadow: 0px 0px 99px #00000029;
  margin-bottom: 50px;
}
@media (max-width: 905px) {
  h1 {
    margin-top: -50px;
  }
}
</style>
