<template>
  <div>
      <div class="post-bzz">
        <textarea
            id="bzz"
            name="bzz"
            rows="4"
            cols="100%"
            placeholder="Salut Hugo ! Quoi de neuf ?"
            maxlength="180">
        </textarea>
        <div class="bottom">
            <span><i class="material-icons">camera_alt</i><span><router-link to="/publier-projet">Publier un projet</router-link></span></span>
            <button type="submit">Publier le Bzz</button>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "PostBzz",
  props: {
    
  }
};
</script>

<style scoped>
.post-bzz {
    width: 80%;
    height: auto;
    background-color: white;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px ;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
        box-shadow: 0px 0px 99px #00000029;
}
.post-bzz textarea {
    width: 100%;
    height: 90px;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.post-bzz .bottom {
    border-top: 1px #E4E4E4 solid;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.post-bzz .bottom button {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    PADDING-LEFT: 20Px;
    padding-right: 20px;
    background-color: #225182;
    color: white;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.post-bzz .bottom span {
    display: flex;
    justify-content: center;
}
.post-bzz .bottom i {
    color: rgb(69, 161, 255, 0.3);
    cursor: pointer;
    margin-right: 20px;
}
.post-bzz .bottom a {
    color: #343434;
    text-decoration: none;
}
</style>
