<template>
  <div>
    <div class="post-comment">
      <textarea
        id="comment"
        name="comment"
        rows="4"
        cols="100%"
        placeholder="Wowww, votre projet est top mais..."
        maxlength="180"
      >
      </textarea>
      <div class="bottom">
        <button type="submit">Publier le commentaire</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostComment",
  props: {}
};
</script>

<style scoped>
.post-comment {
  width: 70%;
  height: auto;
  background-color: white;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.post-comment textarea {
  width: 100%;
  height: 90px;
  border: none;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.post-comment .bottom {
  border-top: 1px #e4e4e4 solid;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.post-comment .bottom button {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #225182;
  color: white;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.post-comment .bottom span {
  display: flex;
  justify-content: center;
}
.post-comment .bottom i {
  color: rgb(69, 161, 255, 0.3);
  cursor: pointer;
  margin-right: 20px;
}
.post-comment .bottom a {
  color: #343434;
  text-decoration: none;
}
</style>
