<template>
  <div class="project-card">
    <router-link to="/single-projet">
      <article>
        <div class="image" v-bind:style="picture"></div>
        <div class="texte">
          <span class="ville">{{ ville }}| {{ classe }}</span>
          <h2>{{ nom }}</h2>
          <span class="username">@{{ username }}</span>
        </div>
      </article>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ProjectCard",
  props: {
    nom: String,
    ville: String,
    classe: String,
    username: String,
    picture: String
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}
article {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  margin: 20px;
  margin-bottom: 20px;
}
article .image {
  height: 200px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
article .texte {
  color: #343434;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
article .texte .ville {
  font-size: 0.8em;
}
article .texte h2 {
  margin: 0;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
article .texte .username {
  font-size: 0.8em;
  background-color: wheat;
  padding-right: 5px;
  padding-left: 5px;
  width: fit-content;
  margin-top: 5px;
}
</style>
