<template>
  <div>
    <article>
      <div class="member-infos">
        <div class="left">
          <img
            class="member-picture"
            v-bind:src="memberPicture"
            v-bind:alt="altMember"
          />
          <div class="name-date">
            <span
              >{{ firstName }} <b>{{ lastName }}</b>
              <span class="username">@{{ username }}</span> </span
            ><span class="badges"
              ><span class="badge-ville">{{ userVille }}</span
              ><span class="badge-classe">{{ userClasse }}</span></span
            >
            <span class="date">{{ publishDate }}</span>
          </div>
        </div>
      </div>
      <div class="titre-projet">
        <h1>{{ projectName }}</h1>
        <div class="right">
          <h3>{{ projectCode }}</h3>
          <span>{{ projectLevel }}</span>
        </div>
      </div>
      <img
        v-if="picture"
        v-bind:src="picture"
        alt="Image du projet"
        class="project-image"
      />
      <div class="metas">
        <span
          ><b
            ><i class="material-icons icon-time">query_builder</i>Temps de
            réalisation :
          </b>
          {{time}}</span
        >
        <span
          ><b>Collaborateurs :</b>
          <img
            src="https://i.ibb.co/FJ0KJjv/paul.jpg"
            alt="Photo de profil de Paul"
          />
          <img
            src="https://i.ibb.co/6NYXtgV/hugo.jpg"
            alt="Photo de profil de Hugo"
          />
        </span>
      </div>
      <div class="description">
        <h4>Descriptions du projet :</h4>
        <p>{{ texte }}</p>
      </div>
      <div class="pieces-jointes">
        <h4>Pièces jointes :</h4>
        <ul>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              ><i class="material-icons">cloud_download</i> Téléchercher le
              brief du projet</a
            >
          </li>
          <li>
            <a
              href="https://gitlab.com/paulclique/mds-network"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="material-icons">code</i> Voir le projet sur Gitlab</a
            >
          </li>
        </ul>
      </div>
      <div class="like-comments">
        <span class="likes">
          <i v-if="isLiked === 'true'" class="material-icons" style="color: red"
            >favorite</i
          >
          <i class="material-icons" v-else>favorite_border</i>
          {{ likes }} personne(s) aime(nt) ça !
        </span>
        <span class="comments">{{ comments }} commentaire(s)</span>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: "SingleProjectCard",
  props: {
    memberPicture: String,
    firstName: String,
    lastName: String,
    username: String,
    publishDate: String,
    texte: String,
    picture: String,
    likes: Number,
    isLiked: Boolean,
    comments: Number,
    userVille: String,
    userClasse: String,
    altMember: String,
    projectName: String,
    projectCode: String,
    projectLevel: String,
    time: String
  }
};
</script>

<style scoped>
article {
  background-color: white;
  width: 80%;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 0px 0px 99px #00000029;
  margin-top: 50px;
}
article .member-picture {
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  margin-right: 10px;
}
article .left {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
article .name-date {
  display: flex;
  flex-direction: column;
}
article .name-date span b {
  text-transform: uppercase;
}
article span.username {
  font-size: 0.8em;
  color: #b4b4b4;
  margin-left: 5px;
}
article span.date {
  font-size: 0.8em;
  color: #b4b4b4;
}
article img.project-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
article .titre-projet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article .titre-projet h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  margin-right: 30px;
}
article .titre-projet .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
article .titre-projet .right h3 {
  margin: 0;
}
article .metas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
article .metas span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badges {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -10px;
}
article .metas span b {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
article .metas span i {
  margin-right: 5px;
}
article .metas span img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-left: 15px;
  cursor: pointer;
  object-fit: cover;
}
article h4 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.5em;
}
article .pieces-jointes ul {
  list-style: none;
}
article .pieces-jointes ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
article .pieces-jointes ul li a i {
  margin-right: 10px;
}
article .like-comments {
  border-top: 1px #e4e4e4 solid;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-top: 30px;
}
article .like-comments span.likes {
  display: flex;
  align-items: center;
}
article .like-comments span.likes i {
  margin-right: 5px;
  cursor: pointer;
}
article .badge-ville {
  font-size: 0.8em;
  margin-left: 10px;
  background-color: rgb(255, 189, 29, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
}
article .badge-classe {
  font-size: 0.8em;
  margin-left: 10px;
  background-color: rgb(247, 77, 157, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100px;
}
@media (max-width: 905px) {
  .badges {
    display: none;
  }
  .metas {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .metas img {
    margin-top: 30px;
  }
}
</style>
