<template>
  <div class="top-nav">
    <div class="right">
      <span class="connexion-inscription"
        ><router-link class="home-fullwidth" to="/connexion-inscription"
          >Connexion | Inscription</router-link
        >
      </span>
      <router-link class="home" to="/"
        ><i class="material-icons" style="margin-right: 20px;"
          >home</i
        ></router-link
      >
      <i class="material-icons connect" style="margin-right: 20px;">person</i>
      <i class="material-icons" style="margin-right: 20px;">message</i>
      <i class="material-icons">notifications</i>
      <div class="input-search">
        <button class="btn-search" type="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            ></path>
          </svg>
        </button>
        <input
          type="search"
          id="site-search"
          name="q"
          placeholder="Rechercher un projet, un étudiant, une école..."
          aria-label="Rechercher un projet, un étudiant, une école..."
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopNav"
};
</script>

<style scoped>
.top-nav {
  height: 70px;
  margin-left: -350px;
  margin-right: -50px;
  background-color: white;
  box-shadow: 0px 0px 99px #00000029;
  padding-left: 350px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-nav i {
  font-size: 2em;
}
.right {
  display: flex;
  align-items: center;
}
i {
  cursor: pointer;
}
.input-search {
  width: 100%;
  position: relative;
  height: 40px;
  margin-left: 30px;
}
.input-search button {
  width: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  background: 0 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343434;
  outline: none;
}
.input-search button svg {
  fill: #343434;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}
.input-search input {
  height: 100%;
  width: 100%;
  background: 0 0;
  border: 0;
  background: #e6f2ff;
  display: block;
  width: 400px;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #343434;
  border-radius: 100px;
  outline: none;
}
span.connexion-inscription {
  width: 100%;
  margin-right: 20px;
}
span.connexion-inscription a {
  color: #343434;
  text-decoration: none;
}
i.connect {
  display: none;
}
.home {
  display: none;
}
@media (max-width: 1130px) {
  .connexion-inscription a.home-fullwidth {
    display: none;
  }
  i.connect {
    display: block;
  }
}
@media (max-width: 970px) {
  input#site-search {
    width: 300px;
  }
}
@media (max-width: 905px) {
  .top-nav {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    justify-content: flex-start;
  }
  .home {
    display: block;
    color: rgb(255, 189, 29, 1);
  }
}
@media (max-width: 570px) {
  input#site-search {
    width: 10px;
  }
}
</style>
