<template>
  <div id="app">
    <div id="burger-button" onclick="myFunction()">
      <i class="material-icons">menu</i>
    </div>
    <section id="left-bar">
      <header>
        <router-link to="/">
          <img
            class="nav-logo"
            alt="Retour vers la page d'accueil de La Ruche"
            src="https://i.ibb.co/52Qs9qP/logo.png"
          />
        </router-link>
        <nav>
          <router-link to="/"
            ><i class="material-icons">home</i> Accueil</router-link
          >
          <router-link to="/projets"
            ><i class="material-icons">topic</i> Projets</router-link
          >
          <router-link to="/campus"
            ><i class="material-icons">school</i> Campus</router-link
          >
          <router-link to="/annonces"
            ><i class="material-icons">campaign</i> Annonces</router-link
          >
          <router-link to="/messages"
            ><i class="material-icons">message</i> Messages</router-link
          >
          <router-link to="/profil"
            ><i class="material-icons">person</i> Profil</router-link
          >
          <router-link to="/parametres"
            ><i class="material-icons">settings</i> Paramètres</router-link
          >
        </nav>
      </header>

      <footer>
        <ul class="footer-legal">
          <router-link to="/">À propos</router-link>
          -
          <router-link to="/">Conditions d'utilisation</router-link>
          -
          <router-link to="/">Politique de confidentialité</router-link>
          -
          <router-link to="/">Politique relative aux cookies</router-link>
          -
          <router-link to="/">Informations sur les publicités</router-link>
        </ul>
        <span class="footer-credit">© 2020 La Ruche</span>
      </footer>
    </section>
    <router-view />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  background-color: #e6f2ff;
}

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}

#left-bar {
  background-color: #225182;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 99px #00000029;
}

#left-bar header a img.nav-logo {
  width: 80%;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

#left-bar header nav {
  margin-left: 20%;
}

#left-bar header nav a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left-bar header nav a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

#left-bar header nav i {
  margin-right: 10px;
  align-items: center;
}

#left-bar footer {
  position: absolute;
  bottom: 130px;
}

#left-bar footer ul.footer-legal {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 100;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#left-bar footer ul.footer-legal a {
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
}

#left-bar footer .footer-credit {
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
  font-size: 10px;
  display: block;
}
button {
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
@media (max-width: 905px) {
  #left-bar {
    display: none;
    min-width: 100%;
    z-index: 997;
    margin-top: -50px;
    padding-top: 100;
    background-color: rgb(34, 81, 130, 0.95);
  }
  #left-bar header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  #left-bar header nav {
    margin-left: 0;
  }
}
#burger-button {
  position: fixed;
  background: #225182;
  z-index: 999;
  height: 70px;
  width: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  cursor: pointer;
}
#burger-button i {
  font-size: 40px;
  color: white;
}
@media (max-width: 905px) {
  #burger-button {
    display: flex;
  }
}
#close-button {
  display: none;
  font-size: 40px;
    color: white;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 998;
}
@media (max-width: 905px) {
  #burger-button {
    display: flex;
  }
}
</style>

<script>
function myFunction() {
  var x = document.getElementById("left-bar");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
window.myFunction = myFunction;
</script>
